/* CSS Document */
body {
	background-color: #080f08;
}

.main {
	margin-left: 6%;
	padding-left: 0px;
}

#header {
	height:0;
	background-size: 100% auto;
	margin-left: 6%;
	margin-bottom: 5px;
	padding-left: 6%;
	padding-top: 35%;
	background-attachment: fixed;
	background-image: url("../images/banner/me.jpg");
}
